/* Write your CSS here */
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .lg-img {
    display: none;
  }
}

@media (min-width: 768px) {
  .sm-img {
    display: none;
  }
}
